* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilização do conteúdo principal */
main {
    margin: 0 auto;
}

/* Estilização dos cards */
.item {
    text-align: center;
    width: 50%;
}

/* Estilizações da funcionalidade de pesquisa  */
.div_pesquisa {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 5% 0 5%;
}

#input_pesquisa_item, #select_tag_pesquisa {
    min-width: 10px;
    padding: 5px;
}

.card-tag {
    color: #c59543;
    border: 1px solid #c59543;
    border-radius: 10px;
    max-width: 70%;
    text-align: center;
}

/* Botoes da pagina meus achados */
.botao_perdido, .botao_devolvido {
    background-color: #3D3D3D;
    color: white;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid white;
}

.botao_perdido:hover, .botao_devolvido:hover {
    background-color: white;
    color: #3D3D3D;
    border: 2px solid #3D3D3D;
    cursor: pointer;
}

.botao_editar {
    padding: 0 10px;
    color: white;
    border-radius: 10px;
    border: 1px solid rgb(114, 114, 114);
}
.botao_editar:hover{
    background-color: white;
    border: 2px solid #3D3D3D;
    cursor: pointer;
}

.titulo_achados {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}