* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilização do conteúdo principal */
main {
    width: 80%;
    margin: 0 auto;
}

/* Estilização dos cards */
.item {
    text-align: center;
    width: 50%;
}

/* Estilizações da funcionalidade de pesquisa  */
.div_pesquisa {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 5% 0 5%;
}

#input_pesquisa_item, #select_tag_pesquisa {
    min-width: 10px;
    padding: 5px;
}

.card-tag {
    color: #c59543;
    border: 1px solid #c59543;
    border-radius: 10px;
    max-width: 70%;
    text-align: center;
}