* {
    margin: 0;
    padding: 0;
}

/* Estilização do conteúdo principal */
.principal {
    width: 80%;
    margin: 0 auto;
}

/* Estilização do formulário de cadastro de itens */
#cadastro_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

#cadastro_item .item_input {
    border: none;
    padding: 10px;
    border-bottom: solid black 1px;
    margin: 20px 0;
    font-size: 1em;
    width: 80%;
}

#cadastro_item label {
    margin-bottom: 10px;
    color: #757575;
    font-size: 1em;
}

.form_upload_img {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    font-size: 48px;
    color: #757575;
}

#select_instituicao, #select_tag {
    color: #757575;
}

.botao_enviar {
    background-color: #61bdbb;
    width: 80%;
    padding: 15px;
    font-size: 1em;
    border: none;
    border-radius: 10px;
    margin: 20px 0;
}