body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
   justify-content: center; /* Centraliza horizontalmente */
   align-items: center; /* Centraliza verticalmente */
   height: 100vh; /* Tamanho da tela */

}

#itensPerdido {
    max-width: 800px; /* Define a largura máxima da área de conteúdo */
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 20px; /* Espaçamento interno */
}

.nomeitem {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: -5px;
   
    
}

.nomeitem h2 {
    margin-top: 0;
    
}

.nomeitem p {
    margin-bottom: 10px;
}

.nomeitem img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin-left: 50px;
    
}

#titulo{
    color: brown;
    text-align: center;
}



/* Estilos responsivos */
@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
        
    }
    .item {
        padding: 15px;
       
    }

    
}
.navbar {
   
   background-color: #c9f4f8;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  
       
  
    
}

.logo img {
    height: 70px;
    width: 80px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    padding: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: #c59543;
    font-weight: bold;
}

.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 21px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #c59543;
    border-radius: 10px;
    margin-right: 9px;
    
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #c9f4f8;
    }

    .nav-links li {
        text-align: center;
        padding: 15px 0;
    }

    .burger {
        display: flex;
    }

    .nav-links.active {
        display: flex;
    }
}

.nav-links a:hover{
    color: #61bdbb
}
.nav-links a:active{
    color: #61bdbb
}