*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   font-family: 'Montserrat', sans-serif;
   min-height: 100vh;
   color: #555;
}
h2{
   text-align: center;
   margin-top: 50px;
   font-size: 30px;
}
.products{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(350px, auto));
   grid-gap: 50px;
   margin: 50px auto;

   padding: 10px;
}
.product{
   padding: 10px;
   box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.product img{
   width: 100%;
   display: block;
}
.product .title{
   text-align: center;
   padding-top: 30px;
   padding-bottom: 20px;
   font-weight: 600;
   text-transform: uppercase;
}
.product .description{
   padding: 0 20px 20px 20px;
   line-height: 22px;
   text-align: center;

}




a{
	text-decoration: none;
   color: black;
}